In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp38-cp38-win_amd64.whl (7.6 MB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.20 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib) (1.21.5)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp38-cp38-win_amd64.whl (55 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp38-cp38-win_amd64.whl (162 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib) (21.3)
Collecting importlib-resources>=3.2.0
  Downloading importlib_resources-5.12.0-py3-none-any.whl (36 kB)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: zipp>=3.1.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.7.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 importlib-resources-5.12.0 kiwisolver-1.4.4 matplotlib-3.7.1

In [3]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [4]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: pandas>=0.25 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.0.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.7.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\.conda\envs\tensorflow\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [2]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# road_pt = pd.read_csv("accelerometerData-1680702177.csv")

In [4]:
# df = pd.DataFrame(road_pt)

In [5]:
# road_pt.isnull().sum()

lat          0
long         0
timestamp    0
xaxis        0
yaxis        0
zaxis        0
dtype: int64

In [6]:
# road_pt.duplicated().sum()

4

In [12]:
# df.drop_duplicates(subset = 'lat',
#                      keep = 'last', inplace=True)
# df

          lat       long      timestamp  xaxis  yaxis     zaxis
44  12.971519  79.164603  5042023025548    0.0    0.0  2.368895
49  12.970728  79.164553  5042023025409    0.0    0.0  2.111666

In [37]:
# df.drop_duplicates(subset=['lat','long'])

         lat       long      timestamp  xaxis  yaxis     zaxis
0  12.971519  79.164603  5042023025548    0.0    0.0  2.267199
1  12.970728  79.164553  5042023025425    0.0    0.0  2.420340

In [8]:
# z=road_pt['zaxis']
# print(z)

0     2.267199
1     2.420340
2     2.988935
3     2.096113
4     2.988935
5     2.864508
6     2.407479
7     0.000000
8     2.685944
9     2.353342
10    2.685944
11    2.576173
12    3.526422
13    2.293820
14    0.000000
15    2.537887
16    2.003988
17    3.263212
18    2.117648
19    2.111666
20    3.454638
21    2.938985
22    2.893221
23    2.130809
24    2.098207
25    2.115255
26    2.685944
27    5.343472
28    3.313461
29    3.560221
30    2.267199
31    2.735296
32    2.242075
33    2.021636
34    3.004488
35    2.202593
36    3.560221
37    2.079363
38    3.446263
39    2.519942
40    2.391626
41    2.063809
42    2.557030
43    2.289931
44    2.368895
45    2.167897
46    2.893221
47    2.644369
48    0.000000
49    2.111666
Name: zaxis, dtype: float64

In [21]:
# dev=[]
# a=3
# def fun():
#     c=0
#     for i in range(len(z)):
#         dev.append(abs(z[i]-a))
#         if((dev[i]>=3)and(dev[i]<=4)):
#             c=c+1
#     print(c)
#     if(c>=0.8*len(z)):
#         print("Good")
#     else:
#         print("bad")
# fun()

In [24]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
road_pt = pd.read_csv("accelerometerData-1680702177.csv")

In [37]:
df = pd.DataFrame(road_pt)
df

          lat       long      timestamp     xaxis     yaxis     zaxis
0   12.971519  79.164603  5042023025548  0.000000  0.000000  2.267199
1   12.970728  79.164553  5042023025425  0.000000  0.000000  2.420340
2   12.970728  79.164553  5042023025429  0.000000  0.000000  2.988935
3   12.971519  79.164603  5042023025557  0.000000  0.000000  2.096113
4   12.970728  79.164553  5042023025429  0.000000  0.000000  2.988935
5   12.970728  79.164553  5042023025410  0.000000  0.000000  2.864508
6   12.971519  79.164603  5042023025551  0.000000  0.000000  2.407479
7   12.970728  79.164553  5042023025419  0.000000  3.528815  0.000000
8   12.970728  79.164553  5042023025415  0.000000  0.000000  2.685944
9   12.971519  79.164603  5042023025548  0.000000  0.000000  2.353342
10  12.970728  79.164553  5042023025416  0.000000  0.000000  2.685944
11  12.971519  79.164603  5042023025558  0.000000  0.000000  2.576173
12  12.970728  79.164553  5042023025434  0.000000  0.000000  3.526422
13  12.970728  79.164553  5042023025407  0.000000  0.000000  2.293820
14  12.970728  79.164553  5042023025420  2.652742  0.000000  0.000000
15  12.970728  79.164553  5042023025428  0.000000  0.000000  2.537887
16  12.971519  79.164603  5042023025556  0.000000  0.000000  2.003988
17  12.970728  79.164553  5042023025424  0.000000  0.000000  3.263212
18  12.971519  79.164603  5042023025547  0.000000  0.000000  2.117648
19  12.970728  79.164553  5042023025408  0.000000  0.000000  2.111666
20  12.970728  79.164553  5042023025428  0.000000  0.000000  3.454638
21  12.970728  79.164553  5042023025433  0.000000  0.000000  2.938985
22  12.970728  79.164553  5042023025407  0.000000  0.000000  2.893221
23  12.971519  79.164603  5042023025601  0.000000  0.000000  2.130809
24  12.970728  79.164553  5042023025431  0.000000  0.000000  2.098207
25  12.970728  79.164553  5042023025418  0.000000  0.000000  2.115255
26  12.970728  79.164553  5042023025415  0.000000  0.000000  2.685944
27  12.971519  79.164603  5042023025553  0.000000  0.000000  5.343472
28  12.971519  79.164603  5042023025558  0.000000  0.000000  3.313461
29  12.971519  79.164603  5042023025552  0.000000  0.000000  3.560221
30  12.971519  79.164603  5042023025549  0.000000  0.000000  2.267199
31  12.970728  79.164553  5042023025415  0.000000  2.057828  2.735296
32  12.971519  79.164603  5042023025547  0.000000  0.000000  2.242075
33  12.971519  79.164603  5042023025559  0.000000  0.000000  2.021636
34  12.970728  79.164553  5042023025412  0.000000  0.000000  3.004488
35  12.970728  79.164553  5042023025416  0.000000  0.000000  2.202593
36  12.971519  79.164603  5042023025552  0.000000  0.000000  3.560221
37  12.970728  79.164553  5042023025422  0.000000  0.000000  2.079363
38  12.971519  79.164603  5042023025555  0.000000  0.000000  3.446263
39  12.970728  79.164553  5042023025425  0.000000  0.000000  2.519942
40  12.970728  79.164553  5042023025409  0.000000  0.000000  2.391626
41  12.970728  79.164553  5042023025429  0.000000  0.000000  2.063809
42  12.970728  79.164553  5042023025409  0.000000  0.000000  2.557030
43  12.971519  79.164603  5042023025555  0.000000  0.000000  2.289931
44  12.971519  79.164603  5042023025548  0.000000  0.000000  2.368895
45  12.970728  79.164553  5042023025412  0.000000  0.000000  2.167897
46  12.970728  79.164553  5042023025407  0.000000  0.000000  2.893221
47  12.970728  79.164553  5042023025423  0.000000  0.000000  2.644369
48  12.970728  79.164553  5042023025417  0.000000  2.281556  0.000000
49  12.970728  79.164553  5042023025409  0.000000  0.000000  2.111666

In [29]:
df.long.duplicated()

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
Name: long, dtype: bool

In [33]:
df['lat_round'] = df['lat'].round(6)
df['long_round'] = df['long'].round(6)
df

,lat,long,timestamp,xaxis,yaxis,zaxis,lat_round,long_round
0,12.971519,79.164603,5042023025548,0.000000,0.000000,2.267199,12.971519,79.164603
1,12.970728,79.164553,5042023025425,0.000000,0.000000,2.420340,12.970728,79.164553
2,12.970728,79.164553,5042023025429,0.000000,0.000000,2.988935,12.970728,79.164553
3,12.971519,79.164603,5042023025557,0.000000,0.000000,2.096113,12.971519,79.164603
4,12.970728,79.164553,5042023025429,0.000000,0.000000,2.988935,12.970728,79.164553
5,12.970728,79.164553,5042023025410,0.000000,0.000000,2.864508,12.970728,79.164553
6,12.971519,79.164603,5042023025551,0.000000,0.000000,2.407479,12.971519,79.164603
7,12.970728,79.164553,5042023025419,0.000000,3.528815,0.000000,12.970728,79.164553
8,12.970728,79.164553,5042023025415,0.000000,0.000000,2.685944,12.970728,79.164553
9,12.971519,79.164603,5042023025548,0.000000,0.000000,2.353342,12.971519,79.164603
10,12.970728,79.164553,5042023025416,0.000000,0.000000,2.685944,12.970728,79.164553
11,12.971519,79.164603,5042023025558,0.000000,0.000000,2.576173,12.971519,79.164603
12,12.970728,79.164553,5042023025434,0.000000,0.000000,3.526422,12.970728,79.164553
13,12.970728,79.164553,5042023025407,0.000000,0.000000,2.293820,12.970728,79.164553
14,12.970728,79.164553,5042023025420,2.652742,0.000000,0.000000,12.970728,79.164553
15,12.970728,79.164553,5042023025428,0.000000,0.000000,2.537887,12.970728,79.164553
16,12.971519,79.164603,5042023025556,0.000000,0.000000,2.003988,12.971519,79.164603
17,12.970728,79.164553,5042023025424,0.000000,0.000000,3.263212,12.970728,79.164553
18,12.971519,79.164603,5042023025547,0.000000,0.000000,2.117648,12.971519,79.164603
19,12.970728,79.164553,5042023025408,0.000000,0.000000,2.111666,12.970728,79.164553
20,12.970728,79.164553,5042023025428,0.000000,0.000000,3.454638,12.970728,79.164553
21,12.970728,79.164553,5042023025433,0.000000,0.000000,2.938985,12.970728,79.164553
22,12.970728,79.164553,5042023025407,0.000000,0.000000,2.893221,12.970728,79.164553
23,12.971519,79.164603,5042023025601,0.000000,0.000000,2.130809,12.971519,79.164603
24,12.970728,79.164553,5042023025431,0.000000,0.000000,2.098207,12.970728,79.164553
25,12.970728,79.164553,5042023025418,0.000000,0.000000,2.115255,12.970728,79.164553
26,12.970728,79.164553,5042023025415,0.000000,0.000000,2.685944,12.970728,79.164553
27,12.971519,79.164603,5042023025553,0.000000,0.000000,5.343472,12.971519,79.164603
28,12.971519,79.164603,5042023025558,0.000000,0.000000,3.313461,12.971519,79.164603
29,12.971519,79.164603,5042023025552,0.000000,0.000000,3.560221,12.971519,79.164603
30,12.971519,79.164603,5042023025549,0.000000,0.000000,2.267199,12.971519,79.164603
31,12.970728,79.164553,5042023025415,0.000000,2.057828,2.735296,12.970728,79.164553
32,12.971519,79.164603,5042023025547,0.000000,0.000000,2.242075,12.971519,79.164603
33,12.971519,79.164603,5042023025559,0.000000,0.000000,2.021636,12.971519,79.164603
34,12.970728,79.164553,5042023025412,0.000000,0.000000,3.004488,12.970728,79.164553
35,12.970728,79.164553,5042023025416,0.000000,0.000000,2.202593,12.970728,79.164553
36,12.971519,79.164603,5042023025552,0.000000,0.000000,3.560221,12.971519,79.164603
37,12.970728,79.164553,5042023025422,0.000000,0.000000,2.079363,12.970728,79.164553
38,12.971519,79.164603,5042023025555,0.000000,0.000000,3.446263,12.971519,79.164603
39,12.970728,79.164553,5042023025425,0.000000,0.000000,2.519942,12.970728,79.164553
40,12.970728,79.164553,5042023025409,0.000000,0.000000,2.391626,12.970728,79.164553
41,12.970728,79.164553,5042023025429,0.000000,0.000000,2.063809,12.970728,79.164553
42,12.970728,79.164553,5042023025409,0.000000,0.000000,2.557030,12.970728,79.164553
43,12.971519,79.164603,5042023025555,0.000000,0.000000,2.289931,12.971519,79.164603
44,12.971519,79.164603,5042023025548,0.000000,0.000000,2.368895,12.971519,79.164603
45,12.970728,79.164553,5042023025412,0.000000,0.000000,2.167897,12.970728,79.164553
46,12.970728,79.164553,5042023025407,0.000000,0.000000,2.893221,12.970728,79.164553
47,12.970728,79.164553,5042023025423,0.000000,0.000000,2.644369,12.970728,79.164553
48,12.970728,79.164553,5042023025417,0.000000,2.281556,0.000000,12.970728,79.164553
49,12.970728,79.164553,5042023025409,0.000000,0.000000,2.111666,12.970728,79.164553

In [34]:
df.drop_duplicates(subset=['lat_round', 'long_round'], keep = 'first')

,lat,long,timestamp,xaxis,yaxis,zaxis,lat_round,long_round
0,12.971519,79.164603,5042023025548,0.0,0.0,2.267199,12.971519,79.164603
1,12.970728,79.164553,5042023025425,0.0,0.0,2.420340,12.970728,79.164553

In [16]:
df['lat'] = df['lat'].apply(str)

In [17]:
df['long'] = df['long'].apply(str)

In [23]:
df.drop_duplicates(subset=['lat','long'], keep = 'first')

          lat        long      timestamp  xaxis  yaxis     zaxis
0  12.9715186   79.164603  5042023025548    0.0    0.0  2.267199
1  12.9707282  79.1645534  5042023025425    0.0    0.0  2.420340