In [248]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [249]:
road_pt = pd.read_csv("mergeAccData.csv")
df = pd.DataFrame(road_pt)
df

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark
0,12.972873,79.157654,1.000000e+13,0.0,0.0,2.081157,Albert Einstein Block
1,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block
2,12.972873,79.157654,1.000000e+13,0.0,0.0,2.069193,Albert Einstein Block
3,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block
4,12.972873,79.157654,1.000000e+13,0.0,0.0,2.284547,Albert Einstein Block
...,...,...,...,...,...,...,...
5056,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1217
5057,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1218
5058,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1219
5059,12.972924,79.163299,1.100000e+13,0.0,0.0,2.556133,X5F7+1220
5060,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1221

In [250]:
np.percentile(df.zaxis, [99, 90, 30])

array([5.51844692, 3.57487726, 2.08295155])

In [251]:
label = []
for i in df.zaxis:
    if i>5.51844692:
        label.append("MAJOR UNDULATION")
    elif i<5.51844692 and i>3.57487726:
        label.append("BAD")
    elif i>2.08295155 and i<3.57487726:  
        label.append("NORMAL")
    elif i<2.08295155:  
        label.append("GOOD")

In [252]:
df['Label_For_The_Road_Section'] = label
df #

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark,Label_For_The_Road_Section
0,12.972873,79.157654,1.000000e+13,0.0,0.0,2.081157,Albert Einstein Block,GOOD
1,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
2,12.972873,79.157654,1.000000e+13,0.0,0.0,2.069193,Albert Einstein Block,GOOD
3,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
4,12.972873,79.157654,1.000000e+13,0.0,0.0,2.284547,Albert Einstein Block,NORMAL
...,...,...,...,...,...,...,...,...
5056,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1217,GOOD
5057,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1218,GOOD
5058,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1219,GOOD
5059,12.972924,79.163299,1.100000e+13,0.0,0.0,2.556133,X5F7+1220,NORMAL
5060,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1221,GOOD

In [253]:
dfBad = df.loc[df["Label_For_The_Road_Section"] == "BAD"]
dfBad

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark,Label_For_The_Road_Section
143,12.972873,79.157654,1.000000e+13,0.000000,0.0,4.045664,Albert Einstein Block,BAD
265,12.969623,79.158014,1.000000e+13,0.000000,0.0,4.039085,Amartya Sen Avenue,BAD
280,12.969623,79.158014,1.000000e+13,0.000000,0.0,4.220939,Amartya Sen Avenue,BAD
299,12.969623,79.158014,1.000000e+13,0.000000,0.0,4.931010,Amartya Sen Avenue,BAD
397,12.969623,79.158014,1.000000e+13,0.000000,0.0,4.039085,Amartya Sen Avenue,BAD
...,...,...,...,...,...,...,...,...
4648,12.972857,79.164553,5.040000e+12,0.000000,0.0,3.626024,X5F7+4HR,BAD
4669,12.972857,79.164553,5.040000e+12,0.000000,0.0,3.863811,X5F7+4HR,BAD
4687,12.972857,79.164553,5.040000e+12,0.000000,0.0,3.752844,X5F7+4HR,BAD
4689,12.972806,79.164353,5.040000e+12,0.000000,0.0,3.632006,X5F7+4HR,BAD
4720,12.972906,79.163959,1.000000e+13,2.886342,0.0,4.010371,X5F7+4HR,BAD

In [254]:
groupedBad = dfBad.groupby(['Latitude', 'Longitude']).size().reset_index(name='BAD_Presence(FREQUENCY)')
dfB = pd.DataFrame(groupedBad)
dfB
df

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark,Label_For_The_Road_Section
0,12.972873,79.157654,1.000000e+13,0.0,0.0,2.081157,Albert Einstein Block,GOOD
1,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
2,12.972873,79.157654,1.000000e+13,0.0,0.0,2.069193,Albert Einstein Block,GOOD
3,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
4,12.972873,79.157654,1.000000e+13,0.0,0.0,2.284547,Albert Einstein Block,NORMAL
...,...,...,...,...,...,...,...,...
5056,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1217,GOOD
5057,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1218,GOOD
5058,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1219,GOOD
5059,12.972924,79.163299,1.100000e+13,0.0,0.0,2.556133,X5F7+1220,NORMAL
5060,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1221,GOOD

In [255]:
# # merged_df = pd.merge(groupedBad, df, on=['Latitude','Longitude','Landmark'])
# # merged_df
# merged_df = pd.merge(groupedBad, df, on=['Latitude','Longitude'], how='left')
# merged_df

In [256]:
# groupedBad = merged_df.groupby(['Latitude', 'Longitude','Landmark']).size()
# groupedBad

In [257]:
dfMajor=df.loc[df["Label_For_The_Road_Section"] == "MAJOR UNDULATION"]
dfMajor

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark,Label_For_The_Road_Section
291,12.969623,79.158014,1.000000e+13,0.000000,0.00000,5.539384,Amartya Sen Avenue,MAJOR UNDULATION
926,12.972435,79.159225,1.000000e+13,0.000000,0.00000,6.113064,Mens Hostel Office,MAJOR UNDULATION
929,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.518447,Mens Hostel Office,MAJOR UNDULATION
939,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.770292,Mens Hostel Office,MAJOR UNDULATION
955,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.770292,Mens Hostel Office,MAJOR UNDULATION
966,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.794219,Mens Hostel Office,MAJOR UNDULATION
968,12.972435,79.159225,1.000000e+13,0.000000,0.00000,6.653244,Mens Hostel Office,MAJOR UNDULATION
969,12.972435,79.159225,1.000000e+13,0.000000,0.00000,6.340382,Mens Hostel Office,MAJOR UNDULATION
982,12.972435,79.159225,1.000000e+13,0.000000,0.00000,7.155138,Mens Hostel Office,MAJOR UNDULATION
1042,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.794219,Mens Hostel Office,MAJOR UNDULATION
1208,12.972435,79.159225,1.000000e+13,0.000000,0.00000,6.653244,Mens Hostel Office,MAJOR UNDULATION
1219,12.972435,79.159225,1.000000e+13,0.000000,0.00000,6.113064,Mens Hostel Office,MAJOR UNDULATION
1328,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.794219,Mens Hostel Office,MAJOR UNDULATION
1339,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.518447,Mens Hostel Office,MAJOR UNDULATION
1400,12.972435,79.159225,1.000000e+13,0.000000,3.08375,6.265007,Mens Hostel Office,MAJOR UNDULATION
1405,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.611767,Mens Hostel Office,MAJOR UNDULATION
1407,12.972435,79.159225,1.000000e+13,0.000000,0.00000,13.904693,Mens Hostel Office,MAJOR UNDULATION
1453,12.972435,79.159225,1.000000e+13,0.000000,0.00000,5.770292,Mens Hostel Office,MAJOR UNDULATION
1470,12.972435,79.159225,1.000000e+13,0.000000,0.00000,7.292726,Mens Hostel Office,MAJOR UNDULATION
2921,12.972232,79.160922,1.000000e+13,0.000000,0.00000,6.179464,X5C6+V8V,MAJOR UNDULATION
2962,12.972232,79.160922,1.000000e+13,0.000000,0.00000,8.352746,X5C6+V8V,MAJOR UNDULATION
2981,12.972232,79.160922,1.000000e+13,0.000000,0.00000,6.179464,X5C6+V8V,MAJOR UNDULATION
3122,12.972232,79.160922,1.000000e+13,0.000000,0.00000,8.352746,X5C6+V8V,MAJOR UNDULATION
3265,12.972922,79.157448,1.000000e+13,0.000000,0.00000,7.828718,X5F4+6XF,MAJOR UNDULATION
3279,12.972922,79.157448,1.000000e+13,0.000000,0.00000,8.481359,X5F4+6XF,MAJOR UNDULATION
3305,12.972922,79.157448,1.000000e+13,0.000000,0.00000,8.481359,X5F4+6XF,MAJOR UNDULATION
3327,12.972922,79.157448,1.000000e+13,0.000000,0.00000,8.481359,X5F4+6XF,MAJOR UNDULATION
3346,12.972922,79.157448,1.000000e+13,0.000000,0.00000,6.139983,X5F4+6XF,MAJOR UNDULATION
3355,12.972922,79.157448,1.000000e+13,0.000000,0.00000,7.828718,X5F4+6XF,MAJOR UNDULATION
3378,12.972922,79.157448,1.000000e+13,2.282753,0.00000,6.280562,X5F4+6XF,MAJOR UNDULATION
3523,12.972922,79.157448,1.000000e+13,0.000000,0.00000,6.568896,X5F4+6XF,MAJOR UNDULATION
3562,12.972922,79.157448,1.000000e+13,0.000000,0.00000,6.139983,X5F4+6XF,MAJOR UNDULATION
3573,12.972922,79.157448,1.000000e+13,0.000000,0.00000,6.568896,X5F4+6XF,MAJOR UNDULATION
3596,12.972922,79.157448,1.000000e+13,0.000000,0.00000,5.689534,X5F4+6XF,MAJOR UNDULATION
3657,12.972922,79.157448,1.000000e+13,0.000000,0.00000,5.689534,X5F4+6XF,MAJOR UNDULATION
3700,12.972922,79.157448,1.000000e+13,0.000000,0.00000,5.689534,X5F4+6XF,MAJOR UNDULATION
3708,12.972922,79.157448,1.000000e+13,0.000000,0.00000,5.962914,X5F4+6XF,MAJOR UNDULATION
3780,12.972922,79.157448,1.000000e+13,0.000000,0.00000,6.568896,X5F4+6XF,MAJOR UNDULATION
3955,12.972563,79.161294,1.000000e+13,0.000000,0.00000,7.274778,X5F6+3F31,MAJOR UNDULATION
3965,12.972563,79.161294,1.000000e+13,0.000000,0.00000,9.026924,X5F6+3F41,MAJOR UNDULATION
3985,12.972563,79.161294,1.000000e+13,0.000000,0.00000,7.057032,X5F6+3F61,MAJOR UNDULATION
4008,12.972563,79.161294,1.000000e+13,0.000000,0.00000,7.274778,X5F6+3F84,MAJOR UNDULATION
4011,12.972563,79.161294,1.000000e+13,0.000000,0.00000,6.904490,X5F6+3F87,MAJOR UNDULATION
4126,12.972563,79.161294,1.000000e+13,0.000000,0.00000,6.904490,X5F6+3F202,MAJOR UNDULATION
4170,12.972563,79.161294,1.000000e+13,0.000000,0.00000,5.616553,X5F6+3F246,MAJOR UNDULATION
4184,12.972563,79.161294,1.000000e+13,0.000000,0.00000,6.285347,X5F6+3F260,MAJOR UNDULATION
4201,12.972563,79.161294,1.000000e+13,0.000000,0.00000,9.026924,X5F6+3F277,MAJOR UNDULATION
4243,12.972906,79.163959,1.000000e+13,0.000000,0.00000,5.562715,X5F7+4HR,MAJOR UNDULATION
4293,12.972906,79.163959,1.000000e+13,0.000000,0.00000,7.375278,X5F7+4HR,MAJOR UNDULATION
4366,12.972906,79.163959,1.000000e+13,0.000000,0.00000,7.375278,X5F7+4HR,MAJOR UNDULATION
4421,12.972906,79.163959,1.000000e+13,0.000000,0.00000,5.562715,X5F7+4HR,MAJOR UNDULATION
4535,12.972906,79.163959,1.000000e+13,0.000000,0.00000,7.375278,X5F7+4HR,MAJOR UNDULATION

In [258]:
groupedMaj = dfMajor.groupby(['Latitude', 'Longitude']).size().reset_index(name='MAJOR_UNDULATION_PRESENCE(FREQUENCY)')
dfM = pd.DataFrame(groupedMaj)
dfM

    Latitude  Longitude  MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0  12.969623  79.158014                                     1
1  12.972232  79.160922                                     4
2  12.972435  79.159225                                    18
3  12.972563  79.161294                                     9
4  12.972906  79.163959                                     5
5  12.972922  79.157448                                    15

In [282]:
inner_merged_df = pd.merge(dfB, dfM, on='Latitude', how='outer')
dfMe = pd.DataFrame(inner_merged_df)
dfMe

,Latitude,Longitude_x,BAD_Presence(FREQUENCY),Longitude_y,MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.969623,79.158014,10,79.158014,1.0
1,12.971940,79.159615,121,NaN,NaN
2,12.972232,79.160922,17,79.160922,4.0
3,12.972435,79.159225,26,79.159225,18.0
4,12.972463,79.161559,39,NaN,NaN
5,12.972472,79.159124,12,NaN,NaN
6,12.972563,79.161294,29,79.161294,9.0
7,12.972684,79.162909,34,NaN,NaN
8,12.972711,79.159446,5,NaN,NaN
9,12.972732,79.162874,13,NaN,NaN
10,12.972806,79.164353,2,NaN,NaN
11,12.972857,79.159719,62,NaN,NaN
12,12.972857,79.164553,17,NaN,NaN
13,12.972873,79.157654,1,NaN,NaN
14,12.972906,79.163959,4,79.163959,5.0
15,12.972922,79.157448,71,79.157448,15.0
16,12.973416,79.164118,5,NaN,NaN

In [283]:
dfMe.drop(labels=['Longitude_y'], axis=1)

,Latitude,Longitude_x,BAD_Presence(FREQUENCY),MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.969623,79.158014,10,1.0
1,12.971940,79.159615,121,NaN
2,12.972232,79.160922,17,4.0
3,12.972435,79.159225,26,18.0
4,12.972463,79.161559,39,NaN
5,12.972472,79.159124,12,NaN
6,12.972563,79.161294,29,9.0
7,12.972684,79.162909,34,NaN
8,12.972711,79.159446,5,NaN
9,12.972732,79.162874,13,NaN
10,12.972806,79.164353,2,NaN
11,12.972857,79.159719,62,NaN
12,12.972857,79.164553,17,NaN
13,12.972873,79.157654,1,NaN
14,12.972906,79.163959,4,5.0
15,12.972922,79.157448,71,15.0
16,12.973416,79.164118,5,NaN

In [260]:
lat = df['Latitude'] 
long = df['Longitude']
z = df['zaxis']

In [261]:
l = []
m = []
n = []
c = [] 
l.append(lat[0])
m.append(long[0])
n.append(z[0])
c.append(1)
i=1
def fun():
     for i in range(len(lat)):
            if lat[i] in l:
                index = l.index(lat[i])
                if long[i] == m[index]:
                    n[index] = n[index] + z[i]
                    c[index] = c[index] +1
                else:
                    l.append(lat[i])
                    m.append(long[i])
                    n.append(z[i])
                    c.append(1)
            else:
                l.append(lat[i])
                m.append(long[i])
                n.append(z[i])
                c.append(1)

In [262]:
fun()

In [263]:
df2 = pd.DataFrame(list(zip(l,m,n,c)),
               columns =['Latitude', 'Longitude','zaxis','count'])

In [264]:
df2['zaxisAverage'] = df2['zaxis'] / df2['count']
df2

     Latitude  Longitude       zaxis  count  zaxisAverage
0   12.972873  79.157654  526.669135    239      2.203637
1   12.969623  79.158014  858.903080    342      2.511413
2   12.972463  79.161559  793.079582    276      2.873477
3   12.972257  79.157525   33.327225     16      2.082952
4   12.972472  79.159124  728.135921    280      2.600485
5   12.972435  79.159225  957.712271    340      2.816801
6   12.972732  79.162874  394.093715    154      2.559050
7   12.972684  79.162909  832.608451    339      2.456072
8   12.972618  79.162596  180.992549     66      2.742311
9   12.973416  79.164118  200.520930    254      0.789452
10  12.972711  79.159446  620.859140    261      2.378771
11  12.971940  79.159615  844.038884    300      2.813463
12  12.972232  79.160922  644.763444    273      2.361771
13  12.972488  79.161940  231.353031    110      2.103209
14  12.972922  79.157448  872.153933    278      3.137244
15  12.972984  79.157548  560.313966    269      2.082952
16  12.972857  79.159719  465.359770    134      3.472834
17  12.972563  79.161294  795.762519    281      2.831895
18  12.972906  79.163959  396.849004    169      2.348219
19  12.972857  79.164553  878.844297    328      2.679403
20  12.972806  79.164353   16.514664     15      1.100978
21  12.972924  79.163299  718.913252    338      2.126962

In [265]:
import statistics
average = statistics.mean(df2.zaxisAverage)
std_dev = statistics.stdev(df2.zaxisAverage)

In [266]:
a = average + std_dev 
b = average - std_dev

In [267]:
a

3.00648025320418

In [268]:
b

1.8183698157620638

In [269]:
labell = []
for i in df2.zaxisAverage:
    if i>a:
        labell.append("BAD")
    elif i<a and i>b:
        labell.append("NORMAL")
    elif i<b:  
        labell.append("GOOD")

In [270]:
df2['Label_For_The_Road_Section'] = labell
df2

,Latitude,Longitude,zaxis,count,zaxisAverage,Label_For_The_Road_Section
0,12.972873,79.157654,526.669135,239,2.203637,NORMAL
1,12.969623,79.158014,858.903080,342,2.511413,NORMAL
2,12.972463,79.161559,793.079582,276,2.873477,NORMAL
3,12.972257,79.157525,33.327225,16,2.082952,NORMAL
4,12.972472,79.159124,728.135921,280,2.600485,NORMAL
5,12.972435,79.159225,957.712271,340,2.816801,NORMAL
6,12.972732,79.162874,394.093715,154,2.559050,NORMAL
7,12.972684,79.162909,832.608451,339,2.456072,NORMAL
8,12.972618,79.162596,180.992549,66,2.742311,NORMAL
9,12.973416,79.164118,200.520930,254,0.789452,GOOD
10,12.972711,79.159446,620.859140,261,2.378771,NORMAL
11,12.971940,79.159615,844.038884,300,2.813463,NORMAL
12,12.972232,79.160922,644.763444,273,2.361771,NORMAL
13,12.972488,79.161940,231.353031,110,2.103209,NORMAL
14,12.972922,79.157448,872.153933,278,3.137244,BAD
15,12.972984,79.157548,560.313966,269,2.082952,NORMAL
16,12.972857,79.159719,465.359770,134,3.472834,BAD
17,12.972563,79.161294,795.762519,281,2.831895,NORMAL
18,12.972906,79.163959,396.849004,169,2.348219,NORMAL
19,12.972857,79.164553,878.844297,328,2.679403,NORMAL
20,12.972806,79.164353,16.514664,15,1.100978,GOOD
21,12.972924,79.163299,718.913252,338,2.126962,NORMAL

In [271]:
df2nd = pd.DataFrame(df2)
df2nd

,Latitude,Longitude,zaxis,count,zaxisAverage,Label_For_The_Road_Section
0,12.972873,79.157654,526.669135,239,2.203637,NORMAL
1,12.969623,79.158014,858.903080,342,2.511413,NORMAL
2,12.972463,79.161559,793.079582,276,2.873477,NORMAL
3,12.972257,79.157525,33.327225,16,2.082952,NORMAL
4,12.972472,79.159124,728.135921,280,2.600485,NORMAL
5,12.972435,79.159225,957.712271,340,2.816801,NORMAL
6,12.972732,79.162874,394.093715,154,2.559050,NORMAL
7,12.972684,79.162909,832.608451,339,2.456072,NORMAL
8,12.972618,79.162596,180.992549,66,2.742311,NORMAL
9,12.973416,79.164118,200.520930,254,0.789452,GOOD
10,12.972711,79.159446,620.859140,261,2.378771,NORMAL
11,12.971940,79.159615,844.038884,300,2.813463,NORMAL
12,12.972232,79.160922,644.763444,273,2.361771,NORMAL
13,12.972488,79.161940,231.353031,110,2.103209,NORMAL
14,12.972922,79.157448,872.153933,278,3.137244,BAD
15,12.972984,79.157548,560.313966,269,2.082952,NORMAL
16,12.972857,79.159719,465.359770,134,3.472834,BAD
17,12.972563,79.161294,795.762519,281,2.831895,NORMAL
18,12.972906,79.163959,396.849004,169,2.348219,NORMAL
19,12.972857,79.164553,878.844297,328,2.679403,NORMAL
20,12.972806,79.164353,16.514664,15,1.100978,GOOD
21,12.972924,79.163299,718.913252,338,2.126962,NORMAL

In [285]:
left_merged_df = pd.merge(df2nd, dfMe, on=['Latitude'], how='left')
df3rd = pd.DataFrame(left_merged_df)
df3rd

,Latitude,Longitude,zaxis,count,zaxisAverage,Label_For_The_Road_Section,Longitude_x,BAD_Presence(FREQUENCY),Longitude_y,MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.972873,79.157654,526.669135,239,2.203637,NORMAL,79.157654,1.0,NaN,NaN
1,12.969623,79.158014,858.903080,342,2.511413,NORMAL,79.158014,10.0,79.158014,1.0
2,12.972463,79.161559,793.079582,276,2.873477,NORMAL,79.161559,39.0,NaN,NaN
3,12.972257,79.157525,33.327225,16,2.082952,NORMAL,NaN,NaN,NaN,NaN
4,12.972472,79.159124,728.135921,280,2.600485,NORMAL,79.159124,12.0,NaN,NaN
5,12.972435,79.159225,957.712271,340,2.816801,NORMAL,79.159225,26.0,79.159225,18.0
6,12.972732,79.162874,394.093715,154,2.559050,NORMAL,79.162874,13.0,NaN,NaN
7,12.972684,79.162909,832.608451,339,2.456072,NORMAL,79.162909,34.0,NaN,NaN
8,12.972618,79.162596,180.992549,66,2.742311,NORMAL,NaN,NaN,NaN,NaN
9,12.973416,79.164118,200.520930,254,0.789452,GOOD,79.164118,5.0,NaN,NaN
10,12.972711,79.159446,620.859140,261,2.378771,NORMAL,79.159446,5.0,NaN,NaN
11,12.971940,79.159615,844.038884,300,2.813463,NORMAL,79.159615,121.0,NaN,NaN
12,12.972232,79.160922,644.763444,273,2.361771,NORMAL,79.160922,17.0,79.160922,4.0
13,12.972488,79.161940,231.353031,110,2.103209,NORMAL,NaN,NaN,NaN,NaN
14,12.972922,79.157448,872.153933,278,3.137244,BAD,79.157448,71.0,79.157448,15.0
15,12.972984,79.157548,560.313966,269,2.082952,NORMAL,NaN,NaN,NaN,NaN
16,12.972857,79.159719,465.359770,134,3.472834,BAD,79.159719,62.0,NaN,NaN
17,12.972563,79.161294,795.762519,281,2.831895,NORMAL,79.161294,29.0,79.161294,9.0
18,12.972906,79.163959,396.849004,169,2.348219,NORMAL,79.163959,4.0,79.163959,5.0
19,12.972857,79.164553,878.844297,328,2.679403,NORMAL,79.164553,17.0,NaN,NaN
20,12.972806,79.164353,16.514664,15,1.100978,GOOD,79.164353,2.0,NaN,NaN
21,12.972924,79.163299,718.913252,338,2.126962,NORMAL,NaN,NaN,NaN,NaN

In [286]:
df3rd.drop(labels=['Longitude_y','Longitude_x','zaxis','count'], axis=1)

,Latitude,Longitude,zaxisAverage,Label_For_The_Road_Section,BAD_Presence(FREQUENCY),MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.972873,79.157654,2.203637,NORMAL,1.0,NaN
1,12.969623,79.158014,2.511413,NORMAL,10.0,1.0
2,12.972463,79.161559,2.873477,NORMAL,39.0,NaN
3,12.972257,79.157525,2.082952,NORMAL,NaN,NaN
4,12.972472,79.159124,2.600485,NORMAL,12.0,NaN
5,12.972435,79.159225,2.816801,NORMAL,26.0,18.0
6,12.972732,79.162874,2.559050,NORMAL,13.0,NaN
7,12.972684,79.162909,2.456072,NORMAL,34.0,NaN
8,12.972618,79.162596,2.742311,NORMAL,NaN,NaN
9,12.973416,79.164118,0.789452,GOOD,5.0,NaN
10,12.972711,79.159446,2.378771,NORMAL,5.0,NaN
11,12.971940,79.159615,2.813463,NORMAL,121.0,NaN
12,12.972232,79.160922,2.361771,NORMAL,17.0,4.0
13,12.972488,79.161940,2.103209,NORMAL,NaN,NaN
14,12.972922,79.157448,3.137244,BAD,71.0,15.0
15,12.972984,79.157548,2.082952,NORMAL,NaN,NaN
16,12.972857,79.159719,3.472834,BAD,62.0,NaN
17,12.972563,79.161294,2.831895,NORMAL,29.0,9.0
18,12.972906,79.163959,2.348219,NORMAL,4.0,5.0
19,12.972857,79.164553,2.679403,NORMAL,17.0,NaN
20,12.972806,79.164353,1.100978,GOOD,2.0,NaN
21,12.972924,79.163299,2.126962,NORMAL,NaN,NaN

In [289]:
df3rd.to_csv("C:/Users/HP/Downloads/output.csv",index=False)

In [160]:
# merged_df = pd.merge(groupedMaj, df2, on=['Latitude','Longitude'])
# merged_df

In [107]:
# la = df2['Latitude'] 
# lon = df2['Longitude']
# latt = groupedMaj['Latitude'] 
# longg = groupedMaj['Longitude']
# freqqm = groupedMaj['FreqMaj']
# lab = []
# for i in range(len(latt)):
#     if latt[i] in la:
#         index = la.index(latt[i])
#         lab[index]= freqqm[i]

In [110]:
# Lat = df['Latitude'] 
# Long = df['Longitude']
# lab = df['Label_For_The_Road_Section']
# l = []
# m = []
# n = []
# l.append(lat[0])
# m.append(long[0])
#  def fun1():
#      for i in range(len(lat)):
#             if lat[i] in l:
#                 index = l.index(lat[i])
#                 if long[i] == m[index]:
#                     label_counts = Counter(lab)
#                     n[index]=label_counts
#                 else:
#                     l.append(lat[i])
#                     m.append(long[i])
#                     n.append(z[i])
                    
#             else:
#                 l.append(lat[i])
#                 m.append(long[i])
#                 n.append(z[i])
# fun1()
# df3 = pd.DataFrame(list(zip(l,m,n)),
#                columns =['lat', 'long','lab'])
# df3

In [80]:
# Lat = df['Latitude'] 
# Long = df['Longitude']
# z = df['zaxis']
# # lab = df['Label For The Road Section']

In [81]:
# df2 = pd.DataFrame(list(zip(l,m,n)),
#                columns =['lat', 'long','zaxis'])
# df2

In [82]:
# df.lat.duplicated().sum()

In [83]:
# label = df['Label For The Road Section']

In [84]:
# majorFreq = []
# badFreq = []
# count1 = 0
# count2 = 0
# for i in the range(len(df2)):
#     if df2.lat[i] in df:
#         if df.Label For The Road Section == "MAJOR UNDUALTION":
#             count1++
#         elif df.Label For The Road Section == "BAD":
#             count2++

In [85]:
# def sum(lst):
#     sume=0
#     for i in lst:
#         sume=sume+i
#     return sume

# n=[2,3,4,5,6,7]
# sum(n)
# print(sum(n))

In [ ]:
# lst=[1]
# len(lst)